/* src/components/util/Pagination.css */

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination {
  list-style: none;
  display: flex;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  border: 1px solid var(--border-color);
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: var(--text-color);
  background-color: var(--background-color-2);
  border-radius: 4px;
}

.page-link:hover {
  background-color: #9f9f9f;
}

.page-item.active .page-link {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

