/* src/pages/auth/register/RegisterPage.css */

.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
}

.register-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.error-message,
.success-message {
  color: red;
  font-size: 14px;
  text-align: center;
}
.success-message {
  color: green;
}

