/* src/components/auth/StatusBar.css */

.statusbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: rgb(232, 230, 227) !important;
}

.statusbar-left,
.statusbar-right {
  display: flex;
  align-items: center;
}

.statusbar-left {
  gap: 20px;
}

.statusbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.statusbar-links {
  display: flex;
  gap: 15px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.statusbar-links li {
  margin: 0;
}

.statusbar-links button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.statusbar-links button:hover {
  color: #ddd;
}

.statusbar-center {
  display: flex;
  align-items: center;
  position: relative;
}

.statusbar-auth {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logout-button {
  background-color: #ff0000;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  color: white;
  cursor: pointer;
}

.login-button, .register-button {
  background-color: #3498db;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.login-button:hover, .register-button:hover {
  background-color: #2980b9;
}

.logout-button:hover {
  background-color: #c0392b;
}

.svg-accountDetail {
  width: 15px; 
  height: 15px; 
  cursor: pointer;
}

.svg-accountDetail:hover {
  color: #000000; 
}

.button-accountDetail {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
}

.dropdown {
  position: relative;
  display: inline-block;
}
  
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  z-index: 10;
  min-width: 150px;
  max-width: 250px;
}

  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; 
  }
  
  .dropdown-menu li {
    margin: 5px 5px;
    padding: 6px 10px;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color: #222;
    color: white;
    border-radius: 15px;
  }

.dropdown-divider {
  padding: 0 !important;
  border-top: 1px solid #222;
}


